<% if (true === completelyBuilt) { %>
    <div class="panel-content">
        <h3>Gasthaus</h3>
    </div>

    Wuerste: <%= currentSausagesStore %><br/>
    Brot: <%= currentLoavesStore %><br/>
    Bier: <%= currentBeerStore %><br/>

<% } else { %>
    Baubarbeiten laufen...
<% } %>
