<br class="panel-content">
<h3>Steinbruch</h3>

<% if (true === completelyBuilt) { %>
    Arbeiter:
    <% if (character) { %>
        Ja
    <% } else { %>
        Nein
    <% } %>
    <br />
    Lager: <%= currentStonesStore %>
    </div>
<% } else { %>
    Baubarbeiten laufen...
<% } %>