<h3>Felder</h3>
<button data-ui-action="buildFieldSelect">Acker</button>

<h3>Baumenü</h3>
<button data-ui-action="buildBuildingSelect" data-type="bakery">Baekerei</button>
<button data-ui-action="buildBuildingSelect" data-type="brewery">Brauerei</button>
<button data-ui-action="buildBuildingSelect" data-type="butchers">Metzgerei</button>
<button data-ui-action="buildBuildingSelect" data-type="farm">Farm</button>
<button data-ui-action="buildBuildingSelect" data-type="inn">Gasthaus</button>
<button data-ui-action="buildBuildingSelect" data-type="mill">Muehle</button>
<button data-ui-action="buildBuildingSelect" data-type="mine">Mine</button>
<button data-ui-action="buildBuildingSelect" data-type="quarry">Steinbruch</button>
<button data-ui-action="buildBuildingSelect" data-type="sawmill">Saegewerk</button>
<button data-ui-action="buildBuildingSelect" data-type="schoolhouse">Schulgebäude</button>
<button data-ui-action="buildBuildingSelect" data-type="smithy">Schmiede</button>
<button data-ui-action="buildBuildingSelect" data-type="storehouse">Lagerhaus</button>
<button data-ui-action="buildBuildingSelect" data-type="woodcutters">Holzfaeller</button>