<h3>Felder</h3>
<button data-ui-action="buildFieldSelect">Acker</button>

<h3>Baumenü</h3>
<button data-ui-action="buildBuildingSelect" data-type="storehouse">Lagerhaus</button>
<button data-ui-action="buildBuildingSelect" data-type="schoolhouse">Schulgebäude</button>
<button data-ui-action="buildBuildingSelect" data-type="inn">Wirtshaus</button>
<button data-ui-action="buildBuildingSelect" data-type="woodcutters">Holzfaeller</button>
<button data-ui-action="buildBuildingSelect" data-type="quarry">Steinmetz</button>
<button data-ui-action="buildBuildingSelect" data-type="barracks">Burg</button>
<button data-ui-action="buildBuildingSelect" data-type="tower">Turm</button>
<button data-ui-action="buildBuildingSelect" data-type="vineyard">Weinberg</button>
<button data-ui-action="buildBuildingSelect" data-type="sawmill">Saegewerk</button>
<button data-ui-action="buildBuildingSelect" data-type="farm">Farm</button>
<button data-ui-action="buildBuildingSelect" data-type="mine">Mine</button>
<button data-ui-action="buildBuildingSelect" data-type="charcoalBurning">Koehlerei</button>
<button data-ui-action="buildBuildingSelect" data-type="swineFarm">Schweinefarm</button>
<button data-ui-action="buildBuildingSelect" data-type="mill">Muehle</button>
<button data-ui-action="buildBuildingSelect" data-type="butchers">Metzgerei</button>
<button data-ui-action="buildBuildingSelect" data-type="tannery">Geberi</button>
<button data-ui-action="buildBuildingSelect" data-type="bakery">Baekerei</button>
<button data-ui-action="buildBuildingSelect" data-type="goldSmithy">Goldschmied</button>
<button data-ui-action="buildBuildingSelect" data-type="weaponSmithy">Waffenschmiede</button>
<button data-ui-action="buildBuildingSelect" data-type="armourSmithy">Ruestungsschmied</button>
<button data-ui-action="buildBuildingSelect" data-type="weaponsWorkshop">Waffenwerkstatt</button>
<button data-ui-action="buildBuildingSelect" data-type="armouryWorkshop">Ruestungswerkstatt</button>
